<div class="row" >
    <div class="col-xs-12">
        <img src="" alt="" class="img=responsive">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1> Recipe Name : {{ recipeDetail.name }}</h1>    
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="=btn-group" appDropdownDirective>
                <button type="button" class="btn btn-primary dropdown-toggle" >Mange Recipe<span class="caret"></span></button>
                <ul class="dropdown-menu"  >
                    <li><a style="cursor: pointer;" (click)="addToShopingList()">Add to shoping list </a></li>
                    <li><a  style="cursor: pointer;" (click)="onEditRecipe()" >Edit Recipe </a></li>
                    <li><a  style="cursor: pointer;"(click)="onRemoveRecipe()" >Delete Recipe</a></li> 
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            Description : {{recipeDetail.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="list-group-item"
                *ngFor="let ingr of recipeDetail.ingredients">
                {{ingr.name}} ( {{ingr.amount}} )

                </li>
            </ul>>
        </div>
    </div>
</div>